.lang {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 10px;
    border-radius: 2%;
    flex-wrap: wrap;
}

.butt, .butt1,.butt2 {
    height: 25px;
    width: 90px;
    border-radius: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(77, 115, 241);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
}

.butt2 {
    background-color: rgb(247, 116, 40);
}
.butt1 {
    background-color: rgb(225, 18, 190);
}

@media (max-width: 768px) {
    .lang {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .butt, .butt1,.butt2 {
        width: 45%;
        margin: 5px 2.5%;
    }
}

@media (max-width: 480px) {
    .butt, .butt1,.butt2 {
        width: 45%;
        height: 35px;
        font-size: 1rem;
        margin: 5px 2.5%;
    }
}
